<a href="https://colab.research.google.com/github/carlos-alves-one/-SSDM-Coursework-1/blob/main/Regression_CW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Goldsmiths University of London
### MSc. Data Science and Artificial Intelligence
### Module: Statistics and Statistical Data Mining
### Author: Carlos Manuel De Oliveira Alves
### Student: cdeol003
### Coursework No.1

### Load the data

> Run the code in Python 3

In [1]:
# Imports the 'drive' module from 'google.colab' and mounts the Google Drive to
# the '/content/drive' directory in the Colab environment.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

> Run the code in R

In [1]:
# Loading necessary library
library(readr)

# Loading the datasets using base R read.csv function
student_mat <- read.csv("/content/drive/MyDrive/student/student-mat.csv", sep = ";")
student_por <- read.csv("/content/drive/MyDrive/student/student-por.csv", sep = ";")

# Displaying the first few rows of the Mathematics dataset
head(student_mat)

# Displaying the first few rows of the Portuguese dataset
head(student_por)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3       6        5  6  6
2 3        3     1    1    3       4        5  5  6
3 3        2     2    3    3      10        7  8 10
4 2        2     1    1    5       2       15 14 15
5 3        2     1    2    5       4        6 10 10
6 4        2     1    2    5      10       15 15 15

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4         0 11 11
2 3        3     1    1    3      2         9 11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

Dataset source: https://archive.ics.uci.edu/dataset/320/student+performance

License: This dataset is licensed under a https://creativecommons.org/licenses/by/4.0/legalcode (CC BY 4.0) license.

##Task No.1
Describe the regression problem you tackle in this coursework, namely what is the purpose
of your analysis

The regression problem with this dataset, involving student performance in secondary education, is centred around predicting a student's final year grade (G3) in two subjects: Mathematics (mat) and Portuguese language (por). This prediction is based on various explanatory variables provided in the dataset. Let us break down the critical aspects of this regression problem:

###Objective of the Analysis

The regression analysis primarily aims to predict students' final grades (G3).

This prediction can inform understanding of:

- Student Performance: Understanding factors that contribute to higher or lower final grades.

- Educational Interventions: Identifying areas where students might require more support or resources.

- Policy Making: Informing educational policies and teaching strategies to improve student outcomes.

###Nature of the Regression Problem

- Target Variable: The target variable for the regression model is 'G3', the final year grade, which is a continuous numeric value.

- Type of Regression: Since the target variable is continuous, this is a typical regression problem (as opposed to a classification problem).

###Predictor Variables

This analysis will consider various independent variables, which could include:

- Demographic Factors: Age, sex, and address of the students.

- Family Background: Parents' education level, job, family size, etc.

- School-Related Features: Absences, past failures, extra educational support, etc.

- Lifestyle Factors: Going out, weekday alcohol consumption, etc.

- Previous Performance: First and second-period grades (G1 and G2). However, considering the strong correlation with G3, we might explore models including and excluding these variables.

##Task No.2
Randomly split the dataset in 3 equal parts: the training set, the validation set and the test set.

The provided R script reads two datasets, student-mat.csv and student-por.csv, from a specified directory and merges them into a single dataframe based on standard columns like school, sex, age, and others. The merging process creates a combined dataset by aligning rows from both files with matching values in these critical columns. Finally, the script displays the total number of rows in the merged dataset and the first few rows for initial inspection.

###Merge the CSV Files

In [2]:
# Read the 'student-mat.csv' file into a dataframe 'd1'. The file is separated by semicolons and includes a header row
d1 = read.table("/content/drive/MyDrive/student/student-mat.csv", sep=";", header=TRUE)

# Read the 'student-por.csv' file into a dataframe 'd2'. This file is also separated by semicolons and includes a header row
d2 = read.table("/content/drive/MyDrive/student/student-por.csv", sep=";", header=TRUE)

# Merge the dataframes 'd1' and 'd2' into a new dataframe 'dataset'
# The merge is performed on columns: school, sex, age, address, famsize,
# Pstatus, Medu, Fedu, Mjob, Fjob, reason, nursery, and internet
# These columns are used as keys for merging, meaning rows will be combined when these columns have matching values in both 'd1' and 'd2'
dataset = merge(d1, d2, by=c("school", "sex", "age", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet"))

# Print the number of rows in the merged dataframe 'd3'. This gives an idea of how many entries are there in the merged dataset.
print(nrow(dataset))

# Display the first few rows (default is 6) of the merged dataframe 'd3'. This is useful for a quick inspection of the merged data, its structure, and its columns.
head(dataset)

[1] 382

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel.y
1 GP     F   15  R       GT3     T       1    1    at_home  other    ⋯ 3
2 GP     F   15  R       GT3     T       1    1    other    other    ⋯ 3
3 GP     F   15  R       GT3     T       2    2    at_home  other    ⋯ 4
4 GP     F   15  R       GT3     T       2    4    services health   ⋯ 4
5 GP     F   15  R       GT3     T       3    3    services services ⋯ 4
6 GP     F   15  R       GT3     T       3    4    services health   ⋯ 4
  freetime.y goout.y Dalc.y Walc.y health.y absences.y G1.y G2.y G3.y
1 1          2       1      1      1        4          13   13   13
2 3          4       2      4      5        2          13   11   11
3 3          1       1      1      2        8          14   13   12
4 3          2       1      1      5        2          10   11   10
5 2          1       2      3      3        2          13   13   13
6 3          2       1      1      5        2          11   12   12

###Random Slipt the Dataset

The script loads the `dplyr` library for data manipulation, sets a random seed for reproducibility, and shuffles a dataset to ensure random distribution. It then divides the randomized dataset into three equal parts for training, validation, and testing, a standard practice in machine learning for model development and evaluation. This approach ensures that each subset is representative of the overall dataset, facilitating practical model training and performance assessment.

In [3]:
# Load necessary library
library(dplyr)

# Set seed for reproducibility
set.seed(123)

# Shuffle the dataset
dataset <- dataset[sample(nrow(dataset)), ]

# Split the dataset into three equal parts
part_size <- nrow(dataset) / 3
train_set <- dataset[1:part_size, ]
validation_set <- dataset[(part_size + 1):(2 * part_size), ]
test_set <- dataset[(2 * part_size + 1):nrow(dataset), ]

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

##Task No.3
Understanding the data: Using the training set, provide number of records and number of variables; mention the names of input attributes (independent variables) and their types and provide percentage of missing values; mention the output attribute (dependent variable) and its type. Compute variable correlations. Draw scatterplots with variables to visually.

1. Number of Records and Variables
This step involves finding out the number of rows (records) and columns (variables) in the training set.

In [5]:
# Number of records and variables in the training set
num_records <- nrow(train_set)
num_variables <- ncol(train_set)
cat("Number of records....:", num_records, "\n")
cat("Number of variables..:", num_variables, "\n")

Number of records....: 127
Number of variables..: 53

2. Input Attributes and Their Types
Identify the names of the input attributes (independent variables), and mention their types.

In [6]:
# Names and types of input attributes
input_attributes <- names(train_set)
attribute_types <- sapply(train_set, class)
cat("Input Attributes and Their Types:\n")
print(data.frame(Attribute = input_attributes, Type = attribute_types))

Input Attributes and Their Types:
                Attribute      Type
school             school character
sex                   sex character
age                   age   integer
address           address character
famsize           famsize character
Pstatus           Pstatus character
Medu                 Medu   integer
Fedu                 Fedu   integer
Mjob                 Mjob character
Fjob                 Fjob character
reason             reason character
nursery           nursery character
internet         internet character
guardian.x     guardian.x character
traveltime.x traveltime.x   integer
studytime.x   studytime.x   integer
failures.x     failures.x   integer
schoolsup.x   schoolsup.x character
famsup.x         famsup.x character
paid.x             paid.x character
activities.x activities.x character
higher.x         higher.x character
romantic.x     romantic.x character
famrel.x         famrel.x   integer
freetime.x     freetime.x   integer
goout.x           goout.x   integer
Dalc.x             Dalc.x   integer
Walc.x             Walc.x   integer
health.x         health.x   integer
absences.x     absences.x   integer
G1.x                 G1.x   integer
G2.x                 G2.x   integer
G3.x                 G3.x   integer
guardian.y     guardian.y character
traveltime.y traveltime.y   integer
studytime.y   studytime.y   integer
failures.y     failures.y   integer
schoolsup.y   schoolsup.y character
famsup.y         famsup.y character
paid.y             paid.y character
activities.y activities.y character
higher.y         higher.y character
romantic.y     romantic.y character
famrel.y         famrel.y   integer
freetime.y     freetime.y   integer
goout.y           goout.y   integer
Dalc.y             Dalc.y   integer
Walc.y             Walc.y   integer
health.y         health.y   integer
absences.y     absences.y   integer
G1.y                 G1.y   integer
G2.y                 G2.y   integer
G3.y                 G3.y   integer